.Comment-body {
  font-size: 20px;
  margin: 0px 8px;
}

.Comment {
  margin: 0px 10px;
}

.Comment-user {
  padding: 4px;
  margin: 4px;
  font-weight: bolder;
  font-size: 18px;
}

.Comment-body {
  margin: 8px;
}

.CommentBar {
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}
.text-field {
  width: 100%;
  height: 20px;
  border-radius: 15px;
  outline: none;
  border: none;
  background-color: #e4e6e9;
  padding: 5px 5px 5px 10px;
  margin-left: 8px;
}

.button {
  background-color: rgb(53, 158, 255);
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  margin: 5px 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition-duration: 0.4s;
  border: 0px;
  border-radius: 5px;
  margin: 5px 8px;
  outline: none;
}
.button:hover {
  background-color: #000000;
  color: white;
}

.comment-segments {
  display: flex;
  flex-direction: row;
}

.spacer {
  margin-bottom: 20px;
  width: 100%;
}
