.Nav {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  height: 77px;
  box-shadow: 2px 2px 50px rgb(204, 204, 204);
}
.Nav-menus {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 77px;
  width: 70%;
  margin: 0 auto;
  padding: 0px 40px;
}

.Nav-brand {
  width: 483px;
  height: 105px;
  margin-bottom: 30px;
}

.Nav-brand-logo {
  display: block;
  width: 100%;
}

.nav-actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 25px 0px;
}

.logo {
  width: 100px;
  height: 50%;
  margin-top: 10000;
}

.spacer {
  width: 35vw;
}

.link-styling {
  text-decoration: none;
  cursor: pointer;
}
