.gallery {
  margin: 10px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  opacity: 0.8;
}

.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

.follow {
  color: black;
  font-family: "Helvetica";
  font-size: 10pt;
  background-color: #ffffff;
  border: 1px solid;
  border-color: black;
  border-radius: 3px;
  width: 65px;
  height: 15px;

  cursor: hand;
}

.Profile-nav {
  margin-bottom: 125px;
}

.user-info-card {
  display: flex;
  justify-content: center;
  margin: 10vh 0px;
}

.user-stats {
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.user-stats div {
  margin-top: 10px;
}

.profile-wrap {
  width: 100px;
  height: 100px;
  position: center;
  overflow: hidden;
  border-radius: 50%;
}

.profile-wrap img {
  display: inline;
  margin: 0 auto;
  margin-left: -10%;
  height: 100%;
  width: auto;
}

.info-card {
  width: 50vw;
  margin: 2vh 30% 2vh 25%;
}

.placeholder {
  width: 4vw;
}

.follow-button {
  background-color: rgb(53, 158, 255);
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  margin-right: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  transition-duration: 0.4s;
  border: 0px;
  border-radius: 5px;
  outline: none;
}
.follow-button:hover {
  background-color: #000000;
  color: white;
}
